server:
  port: 19113
  tomcat:
    basedir: ${java.io.tmpdir}/@project.name@_${server.port}
    
spring:
  profiles:
    active: local
  application:
    name: microee-ethdix-app

eth:
  mainnet-wss: 
    wss://mainnet.infura.io/ws/v3/fedf665469c044ffa50606459bfd8c54
  mainnet-nodes:
    - https://mainnet.infura.io/v3/8b5de70d6cdc460e911a3bb141dc1a79
    - https://mainnet.infura.io/v3/9835b7c856614fcc8c569d67fc8b1427
    - https://mainnet.infura.io/v3/4f26ec4a8ee24e2596112b826b3dba62
    - https://mainnet.infura.io/v3/84d4fb302f824d55a53944f40fa8ef18
    - https://mainnet.infura.io/v3/4199f800bd5e47cd985499cf50ef4dde
    - https://mainnet.infura.io/v3/6d76e84d4722424c906c26b3c78a4a65
    - https://mainnet.infura.io/v3/031e253140e6401794fc3db9048e9e77
    - https://mainnet.infura.io/v3/fedf665469c044ffa50606459bfd8c54
    - https://mainnet.infura.io/v3/d794d2820c2a49f4a1ffa1871ce35318
    - https://mainnet.infura.io/v3/95d3e329fed74a1fbf3ef9b56a0b4bdd
    - https://mainnet.infura.io/v3/a7d50d8999914e5cba1055f83161bd4c
  ropsten-wss: 
    wss://ropsten.infura.io/ws/v3/031e253140e6401794fc3db9048e9e77
  ropsten-nodes:
    - https://ropsten.infura.io/v3/031e253140e6401794fc3db9048e9e77
  heco-wss-mainnet: 
    #wss://ws-mainnet-node.hecochain.com
    wss://ws-mainnet-node.huobichain.com
  heco-nodes-mainnet:
    #- https://http-mainnet-node.hecochain.com
    - https://http-mainnet-node.huobichain.com

## message topics
topics:
    eth.new-blocks.kafka: eth_new_block_topic_${spring.profiles.active}    
  
    
