<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
<title>对话首页</title>
</head>
<body style="text-align: center;">
	<div layout:fragment="__main_content" class="container">
		<h1 style="margin: 0">React Component Marketing</h1>
		<h3 style="margin: 0;">
			<a
				style="color: cornflowerblue; font-style: italic; font-weight: normal; text-decoration: none;"
				target="_blank"
				href="https://itnext.io/how-to-write-your-own-reusable-react-component-library-a57dc7c9a210">
				How to Write Your Own Reusable React Component Library</a>
		</h3>
		<h3 style="margin: 0;">
			<a
				style="color: cornflowerblue; font-style: italic; font-weight: normal; text-decoration: none;"
				target="_blank" href="https://www.npmjs.com/package/rinse-react">
				Rinse</a>
		</h3>
		<hr />
		<div id="root"></div>
	</div>
	<th:block layout:fragment="__scripts">
		<script th:inline="javascript" type="text/javascript">
	 /*<![CDATA[*/
	 var _version=[[${_version}]];
	 /*]]>*/
	</script>
	</th:block>
</body>
</html>